<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h2>Nombre Entrenador: {{comida.nombreEntrenador}}</h2>
    <br>
    <mat-card>
      <div class="row">
        <div class="col-sm-3" >
          <img src="{{pokemon.imagenUrl}}" alt="pokemon" style="width: 100%; max-width: 350px">
        </div>
        <div class="col-sm-9">
          <h3>Ingrediente: {{pokemon.nombrePokemon}}</h3>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <label>Tipo de Ingrediente: {{pokemon.poderEspecialDos}}</label>
              <br>
              <label>Cantidad: {{pokemon.numeroPokemon}}</label>
            </div>
            <div class="col-sm-4">
              <label>Descripción Preparación: {{pokemon.poderEspecialUno}}</label>
              <label>Necesita refrigeración: {{pokemon.nivel===false?'NO':'SI'}}</label>
            </div>
            <div class="col-sm-4">
              <label>Opcional: {{pokemon.fechaCaptura===false?'NO':'SI'}}</label>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" style="text-align: center" (click)="agregarAlCarrito(pokemon)">Añadir al carrito</button>
  </div>
  <div class="col-sm-1"></div>
</div>
<br>
