<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h4>Datos de la cuenta</h4>
    <div class="row">

      <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Nombre: Inti Poaquiza</h5>
            <p class="card-text">Correo Electronico: inti.poaquiza@epn.edu.ec</p>
            <p class="card-text">Direccion: El Dorado, Itchimbia</p>

          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <button mat-raised-button color="primary" style="text-align: center">Completar la orden</button>
      </div>
    </div>
    <br>
    <h4>Datos de facturación</h4>
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <label>Inti</label>
          </div>
          <div class="col-sm-4">
            <label>Poaquiza</label>
          </div>
          <div class="col-sm-4">
            <label>inti.poaquiza@epn.edu.ec</label>
          </div>
        </div>
        <label>El dorado Itchimbia</label>
      </div>
      <div class="col-sm-4">
        <button mat-raised-button color="primary" style="text-align: center">Editar datos de facturación</button>
      </div>
    </div>
    <br>
    <br>
    <h4>Pokemon</h4>
    <div *ngFor="let pokemon of ingredientesComprados">
      <mat-card>
        <div class="row">
          <div class="col-sm-3" >
            <img src="{{pokemon.imagenUrl}}" alt="pokemon" style="width: 100%; max-width: 350px">
          </div>
          <div class="col-sm-9">
            <h3>Pokemon: {{pokemon.nombreIngrediente}}</h3>
            <br>
            <div class="row">
              <div class="col-sm-4">
                <label>Poder Pokemon: {{pokemon.tipoIngrediente}}</label>
                <br>
                <label>Cantidad: {{pokemon.cantidad}}</label>
              </div>
              <div class="col-sm-4">
                <label>Descripción Preparación: {{pokemon.descripcionPreparacion}}</label>
                <label>Necesita refrigeración: {{pokemon.necesitaRefrigeracion===false?'NO':'SI'}}</label>
              </div>
              <div class="col-sm-4">
                <label>Opcional: {{pokemon.opcional===false?'NO':'SI'}}</label>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <br>
    <label>Total: XXXX</label>
  </div>
  <div class="col-sm-1"></div>
</div>

