
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand text-white mb-0 h1 "[routerLink]="['/home']" >
    <img src="http://cdn.foxsportsla.com/sites/foxsports-la/files/img/competition/shields-original/logo_mundial_original.png?ver=1f8c3775-c296-468a-b021-0bfe7ba91db1" width="30" height="30" class="d-inline-block align-top" alt="">
    JAVASCRIPT POKEMON</a>


<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <mat-card style="color: darkgray">
      <div>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Busqueda por comida o ingrediente" value="">
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <div class="col-sm-2"></div>
</div>

</nav>
